.live {
  display: inline-block;
  text-align: center;
  pointer-events: none;
  padding: 0 0.2em !important;
  border-radius: 0.2em;
  font-size: 1.3em !important;
  background-color: var(--live-color);
  color: #fff;
  text-transform: uppercase;
}

#schedule-app {
  .is-live {
    hr {
      border-color: var(--live-color);
    }
  }
}

.overlay-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  z-index: 10;
  background: #12312366;
  cursor: pointer;
}


.modal-event {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.title {
  font-size: 2.4em;
}

.copy-link {
  background-color: var(--color-background-mute);
  color: var(--color-text);
  border: none;

  padding: 1em 2em;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  font-weight: 600;
  border-radius: 0.2em;
  font-size: 1.2em;
  height: 2.4em;

  &:hover {
    cursor: pointer;
    background-color: var(--vt-c-divider-light-2);
  }

  figure {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 1.6em;

    svg {
      fill: var(--color-text);
    }
  }
}

.close-modal {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  padding-right: 1em;
  padding-top: 1em;

  svg {
    fill: var(--color-text);
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  button {
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    border-radius: 0.4em;
    height: 2em;
    width: 2em;
    background-color: transparent;
    border: none;
    color: var(--color-text);

    &:hover {
      cursor: pointer;
      background-color: var(--vt-c-divider-light-2);
    }
  }
}

.play-icon {
  justify-content: left;
  position: relative;
  -webkit-box-pack: center;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  //width: 100%;
  font-weight: 600;
  border-radius: 0.6em;
  font-size: 1.4em;
  height: 2.6em;
  background-color: var(--color-background-primary);
  color: black;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  flex-grow: 0;
  padding: 0 1em 0 0.8em;
  line-height: 1em;

  &:hover {
    cursor: pointer;
  }

  figure {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 1.4em;
  }
}

.wrapper {
  display: inline-block;
  min-width: 16em;
  max-width: 90vw;
  width: 40em;
  border-radius: 0.6em;
  background-color: var(--color-background-soft);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.4);
  color: inherit;
}

.schedule-event {
  border-top-right-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  width: 100%;
  position: relative;
  z-index: 10;
}

.segment-info {
  display: flex;
  font-size: 1.2em;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-align: baseline;
  align-items: baseline;
  width: 100%;
}

.point {
  display: inline;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.text {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0.5em;

  p {
    pointer-events: none;
    white-space: nowrap;
    font-size: 1.4em;
    line-height: 1.2;
    word-break: break-word;
    font-weight: 600;
  }
}

.stream-schedule-segment__popover-thumbnail {
  border-radius: 0.6em 0.6em 0 0;
  height: 14em;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  img {
    border: none;
    max-width: 100%;
    vertical-align: top;
    z-index: var(--z-index-above);
  }

  &__underlay {
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    filter: blur(0.4em);
    height: calc(100% + 0.8em);
    opacity: 0.25;
    transform: translateY(-0.4em);
    width: calc(100% + 0.8em);
  }
}

.broadcaster-info {
  padding-left: 2em;
  padding-right: 2em;

  figure {
    position: relative;
    background-color: inherit;
    width: 4em;
    height: 4em;
    display: block;

    img {
      display: block;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      border: none;
      max-width: 100%;
      vertical-align: top;
      overflow-clip-margin: content-box;
      overflow: clip;
    }
  }

  .screen-name {
    margin-top: 1em;
    margin-bottom: 1em;

    p {
      font-size: 1.4em;
      font-weight: 600;
      line-height: 1.5;
    }
  }
}

.stream-schedule-segment--text {
  pointer-events: none;
  line-height: 1.2;
  word-break: break-word;
  font-weight: 600;
}

.event-info {
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border-top-right-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;

  &__row {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
  }
}